<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to the {{ title }}!
  </h3>
</div>

<br>

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">Enter number for sequence: </label>
        <div class="col-sm-10">
            <input #num (keyup.enter)="calculateFib(num.value)" class="form-control" placeholder="Number">
        </div>
    </div>

</div>

<div align="center">
    <button (click)="calculateFib(num.value)" class="btn btn-primary">Calculate</button>
    <h3>Result: {{toDisplay}}</h3>

</div>











<router-outlet></router-outlet>
